.cursor-pointer {
  cursor: pointer;
}

.text-disease {
  &--red {
    color: darken($disease-red, 10%);
  }
  &--blue {
    color: darken($disease-blue, 10%);
  }
  &--black {
    color: darken($disease-black, 20%);
  }
  &--yellow {
    color: darken($disease-yellow, 20%);
  }
}

.text-outbreak {
  color: $outbreak-color;
}

.text-mute {
  color: $muted;
}
